 <section class="hero is-light is-fullheight">
     <div class="hero-head">

         <section class="hero is-primary">
             <div class="hero-body">
                 <div class="container">
                     <h1 class="title">
                         登録完了しました!
                     </h1>
                 </div>
             </div>
         </section>

         <section class="section">
             <div class="container">
                 <div class="has-text-weight-bold is-size-2 ">
                     <div class="has-text-centered is-vcentered">
                         <%= link_to 'ログインページ', login_path %>からログインしてご利用ください!
                     </div>

                 </div>
             </div>
         </section>