<section>
    <h1 lass="h1-title">-編集-</h1>

    <%= render 'form', event: @event %>

<%
=begin%>
<%= link_to 'Show', @event %>
<%
=end%>

    <div class="back-btn">
        <button class="btn  btn-outline-info  btn-lg">
            <%= link_to '一覧へ', events_path %>
        </button>
    </div>
</section>