<section>
<h1 class="h1-title">-イベントを作成する-</h1>

<%= render 'form', event: @event %>

<div class="back-btn">
<button class="btn  btn-outline-info  btn-lg">
    <%= link_to '一覧へ', events_path %>
</button>
</div>
</section>