/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  max-width: 100%;
  //font-family: "Gruppo", cursive;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3029586834733894) 0%,
    rgba(0, 0, 0, 0.03405112044817926) 5%,
    rgba(0, 0, 0, 0.028448879551820738) 95%,
    rgba(0, 0, 0, 0.3029586834733894) 100%
  );
}

// .position-absolute {
//   z-index: 1;
//   top: 0;
// }
.flash {
  z-index: 0;
}

.position-fixed {
  top: 0;
  margin: 30px 0px;
  width: 100%;
}

.menu-icon {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 15px;
  transform: scale(0.8);
  padding: 0;
  cursor: pointer;
  z-index: 20;
}
.menu-bar {
  width: 50px;
  height: 5px;
  //background: rgb(190, 190, 190);
  background: #000000;
  position: absolute;
  transition: all 0.3s;
}
.menu-bar1 {
  margin-top: 9px;
}
.menu-bar2 {
  margin-top: 23px;
}
.menu-bar3 {
  margin-top: 37px;
}
.menu-icon.hover .menu-bar1 {
  -webkit-transform: rotate(45deg) scaleX(0.7);
  margin-top: 22px;
}
.menu-icon.hover .menu-bar2 {
  opacity: 0;
}
.menu-icon.hover .menu-bar3 {
  -webkit-transform: rotate(-45deg) scaleX(0.7);
  margin-top: 22px;
}

.menu {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  z-index: 5;
  pointer-events: none;
}
.menu-con {
  -webkit-flex-grow: 1;
  flex-basis: 0;
  flex-grow: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  position: relative;
  top: -100%;
  transition: all 0.5s;
}

.menu-con a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 2;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-con:hover a:before {
  background: rgba(0, 0, 0, 0.2);
}
.menu-con a {
  height: 20px;
  -webkit-align-self: center;
  color: white;
  font-size: 25px;
  z-index: 4;
  cursor: pointer;
}

.nav-unshown {
  display: none;
}

#nav-input:checked ~ .menu {
  pointer-events: auto;
}

@media screen and (max-width: 600px) {
  .menu-con {
    min-width: 50%;
  }
}
@media screen and (max-width: 350px) {
  .menu-con {
    min-width: 100%;
  }
}

.SIS {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px 15px;
  padding: 0;
  color: #6495ed;
  z-index: 5;
}
