// Place all the styles related to the personal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.border {
  position: relative;
  right: 100px;
}

.edit-positon {
  position: relative;
  left: 850px;
  top: -40px;
}
