// Place all the styles related to the personal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.border {
  position: relative;
  right: 100px;
}

.edit-positon {
  position: relative;
  left: 850px;
  top: -40px;
}

.tbl th {
  border: solid 1px #ccc;
  padding: 10px;
}

.tbl td {
  border: solid 1px #ccc;
  padding: 10px;
}

@media screen and (max-width: 640px) {
  .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .tbl {
    width: 80%;
  }
  .tbl th,
  .tbl td {
    border-bottom: none;
    display: block;
    width: 100%;
  }
}
