// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.newPost {
  position: relative;
  left: 210px;
  bottom: 40px;
}

.show-created {
}
