// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.newPost {
  position: relative;
  //left: 210px;
  bottom: 50px;
  left: 30%;
}

.show-created {
}

.posts {
  padding: 3% 7% 0 7%;
}
