// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// html,
// body {
//   height: 100%;
// }

// body {
//   display: -ms-flexbox;
//   display: -webkit-box;
//   display: flex;
//   -ms-flex-align: center;
//   -ms-flex-pack: center;
//   -webkit-box-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   justify-content: center;
//   padding-top: 40px;
//   padding-bottom: 40px;
//   background-color: #f5f5f5;
// }

// .form-signin {
//   width: 100%;
//   max-width: 330px;
//   padding: 15px;
//   margin: 0 auto;
// }
// .form-signin .checkbox {
//   font-weight: 400;
// }
// .form-signin .form-control {
//   position: relative;
//   box-sizing: border-box;
//   height: auto;
//   padding: 10px;
//   font-size: 16px;
// }
// .form-signin .form-control:focus {
//   z-index: 2;
// }
// .form-signin input[type="email"] {
//   margin-bottom: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }
// .form-signin input[type="password"] {
//   margin-bottom: 10px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

// .form-signin input[type="account_id"] {
//   margin-bottom: 10px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

// .session {
//   background-color: #2ecc71;
//   font-family: source-sans-pro, sans-serif;
// }

// .h1-session {
//   margin-left: auto;
//   padding-top: 50px;
//   text-align: center;
//   font-weight: 100;
//   font-size: 2.8em;
// }

// .forms {
//   width: 500px;
//   margin: auto;
// }

// .formStyle {
//   background-color: #2ecc71;
//   padding: 20px;
//   width: 400px;
//   margin-bottom: 20px;
//   border-bottom-width: 1px;
//   border-bottom-style: solid;
//   border-bottom-color: #ecf0f1;
//   border-top-style: none;
//   border-right-style: none;
//   border-left-style: none;
//   font-size: 1em;
//   font-weight: 100;
//   color: #ffffff;
// }

// .formButton {
//   float: right;
//   background-color: #ffffff;
//   display: inline-block;
//   color: #2ecc71;
//   font-size: 28px;
//   font-weight: 500;
//   padding: 6px 24px;
//   margin-top: 15px;
//   margin-right: 60px;
//   text-decoration: none;
// }

// .formButton:hover {
//   background-color: #27ae60;
//   color: #ffffff;
// }

// .formButton:active {
//   position: relative;
//   top: 3px;
// }

// /*To remove the outline that appears on clicking the input textbox*/
// input:focus {
//   outline: none;
// }

// /* To format the placeholder text color */
// ::-webkit-input-placeholder {
//   color: #ecf0f1;
// }

// :-moz-placeholder {
//   /* Firefox 18- */
//   color: #ecf0f1;
// }

// ::-moz-placeholder {
//   /* Firefox 19+ */
//   color: #ecf0f1;
// }

// :-ms-input-placeholder {
//   color: #ecf0f1;
// }

.profile-img {
  width: 40%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.img-circle {
  border-radius: 50%;
}

.page-header {
  padding-bottom: 9px;
  //margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
