<body class="back">
    <div class="container-fluid">
        <h1 class="h1-title text-center">投稿企業一覧</h1>

        <div class="border border-dark "></div>
        <br>
    </div>
    <div class="container-fluid">
        <ul class="contents" style="list-style: none;">
            <% @firm.each do |info| %>
            <% @post_firm.each do |post| %>
            <% if info.belonging == post.firm_name%>
                <li>
                    <%= link_to info.belonging, personal_path(info), class: "color" %>
                    <span class="margin">
                        //
                    </span>
                    <%= info.email %>
                </li>
                <br>
            
            <% end %>
            <% end %>
            <% end %>
        </ul>
    </div>
</body>